.btn.main{
	height: 100px;
	width: 200px;
	font-size: 25px;
	margin: 20px 20px 20px 20px;
}

.btn.main a{
	color: white;
	text-decoration: none;
}

.nav.nav-pills.navbar-right li a{
	color: black;
}

.col-md-6{
	padding: 20px 20px 20px 20px;
}

h1{
	padding: 20px 20px 20px 20px;
}

iframe{
	width: 560px;
	height: 315px;
	margin: 20px 20px 20px 20px;
	border-radius: 5px;
}

h3{
	margin: 20px 20px 20px 20px;
}

ul{
	list-style-type: none;
}

li span{

	padding-left : 10px;
}